.all {
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
}
.box-page-header {
  text-align: left;
  padding: 40px 0;;
}
.btn-more-details {
  background: linear-gradient(270deg, #CC0000 0%, #F72A2A 100%);
  border: 0px solid transparent;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}
.button-info {
  margin: 0 !important;
}
.bsc-farm-item-more .bsc-farm-item-more-bottom.button-info > button > div span {
  color: 
  #F65252 !important;
}
.cuss-color > div > span {
  color: #fff;
}
.cuss-color img {
  margin-left: 5px;
}
.box-page-header {
  .box-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.box-page-header {
  text-align: left;
  padding: 40px 0;
  position: relative;
}
@media screen and (max-width:768px) {
  .box-page-header .box-img {
    display: none;
  }
}